body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: url(1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.login{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background:rgb(182, 234, 242);
    text-align: center;
    color: rgb(243, 245, 247);
    font-family: sans-serif;
    border-radius: 10px;
    padding: 30px;
    width: 25%;
}

.login i{
    font-size: 16px;
    margin: 20px auto;
}

input[type="text"], input[type="password"]{
    font-size: 16px;
    font-family: sans-serif;
    padding: 5px;
    border-radius: 4px;
    margin: 0 auto;
    display: block;
}
button{
    border: 0;
    padding: 4px 8px;
    margin: 20px auto;
    font-size: 18px;
    font-family: sans-serif;
    background: white;
    color: black;
}
@media (max-width:450px){
    .login{
        width: 70%;
    }
}